/*сброс всех стилей*/
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*для ссылок*/

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/*для основы*/

aside, nav, footer, header, section, main {
	display: block;
}

main {
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/*для формы*/

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* основные переменные
:root {
    --container-width: 1680px;
    --container-padding: 120px;
    --secondary: rgba(15, 31, 28, 0.5);
} */
  
/*основа*/
body {
    font-family: inter;
    background-color: #FFFFFF;
    color: #191919;
}


/*скрытие элементов*/
.none {
    display: none !important;
}

/* .container {
        max-width: var(--container-width);
        margin: 0 auto; 
        padding: 0 var(--container-padding); 
} */

/*подключение шрифтов*/  
@font-face {
    font-family: inter;
    src: url('../fonts/Inter-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: inter-bold;
    src: url('../fonts/Inter-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: inter-black;
    src: url('../fonts/Inter-Black.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*HEADER*/
.header {
    overflow: hidden;
    position: relative;
    min-height: 700px;
    padding-top: 20px;
    color: #191919;
    width: 100%;
}


.header a {
    color: #191919;
}

.header__top {
    height: 94px;
    column-gap: 286px;
}

.header__row {
    display: flex;
    align-items: center; 
    flex-direction: row;
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
}

.header__main {
    display: flex;
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: center;
    position: relative;
    background-color: #191919;
    border-radius: 40px;
    width: 100%;
}

.header__content {
    display: flex;
    flex-direction: column; /* Разместить элементы вертикально */
    justify-content: center; /* Центрировать по вертикали */
    padding-left: 80px;  
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 1;
    width: 42%; 
    transform: scaleY(0.95); /* Уменьшает высоту текста на 20% */
    display: inline-block; /* Обязательно для работы transform */
}

.header__image {
    position: absolute; 
    bottom: 230px; /* Поднимаем элемент выше, увеличив значение bottom */
    right: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
}

.header__image img {
    /* height: auto; */
    width: 55%; 
    float: right;
}

.header__cars {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.header__cars img {
    display: flex;
    position: absolute; 
    max-width: 35%; 
    height: auto; 
}

.car-1 {
    top: 25%;
    right: 34%;
    z-index: 2;
}

.car-2 {
    top: 13%;
    right: 17%;
    z-index: 3;
}

.car-3 {
    top: 19%;
    right: 4%;
    z-index: 2;
}

/*HEADER CONTENT*/
.header__title {
    margin-bottom: 30px;
    font-size: 45px;
    z-index: 3;
    font-weight: 900;
    color: #F3F3F3;
    /* line-height: 62px; */
}

.header__text {
    margin-bottom: 50px;
    font-size: 20px;
    z-index: 3;
    color: #F3F3F3;
    opacity: 50%;
    line-height: 30px;
}

/*NAV*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 400;
    min-width: 528px;
}

.nav__list a {
    position: relative;
    text-decoration: none; 
}

.nav__list a:hover {
    color: #EB1C24;
}

.nav__item--dropdown {
    position: relative;
}

.nav__item--dropdown .arrow {
    display: none; 
    margin-left: 5px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.nav__item--dropdown:hover .arrow {
    display: inline;
}

.nav__submenu {
    display: none;
    list-style: none;
    padding: 16px 24px 16px 24px;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px #0000001F;
    min-width: 126px;
    min-height: 113px;
    font-weight: 400;
    font-size: 16px;
    background-color: #ffffff;
    z-index: 3;
}

.nav__submenu a {
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
    color: black; 
}

.nav__item--dropdown:hover .nav__submenu {
    display: block;
    z-index: 3; /* Показываем подменю при наведении */
}


.nav__connection {
    display: flex;
    align-items: center;
    column-gap: 16px;
    min-width: 284px;
}

.nav__connection img {
    transition: filter 0.3s ease;
}

.nav__connection a:hover img {
    filter: brightness(75%);
}


.nav__toggle {
    display: none;
}

.phone-info {
    row-gap: 4px;
    margin-left: 33px;
    display: flex;
    min-width: 180px;
    flex-direction: column;
    align-items: flex-start;
}

.phone-number {
    font-weight: 700;
    font-size: 18px;
    color: #191919;
}

.phone-desc {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/*BUTTON*/
.center_button {
    display: flex;
    justify-content: center;
}

.btn__dark__red {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: #D90008;
    border-radius: 16px;
    padding: 24px 32px; 
    width: 230px;
    height: 60px;
    display: flex;          
    align-items: center;    
    justify-content: center;
    text-align: center;     
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn__dark__red:hover {
    background-color: #b30006;
    transform: scale(1.05); /* Slightly enlarges the button */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
}


.cars__from__japan {
    margin-bottom: 40px;
}

.container__japan {
    display: flex;
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
    flex-direction: column;
}


.japan__items {
    margin-bottom: 16px;
    width: 100%;
}

.car__title {
    font-size: 32px;
    font-weight: 900;
}

.car__header {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 30px;
    width: 100%;
}   

.car__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.view__all {
    font-size: 16px; 
    white-space: nowrap;
    color: #191919;
    align-self: center;
    margin-left: 16px; 
    transition: color 0.3s ease;  
}

.view__all:hover {
    color: #EB1C24;
}


.car__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.car__item {
    width: calc(25% - 8px);
    margin-bottom: 8px;
    padding: 8px;
    background-color: #F8F8F8;
    border-radius: 16px;
    cursor: pointer;
}

.car__item img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border-radius: 16px;
}

.car__item h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0;
    white-space: nowrap;     
    overflow: hidden;           
    text-overflow: ellipsis;
}

.car__item p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 12px;
}

.btn__gray {
    display: inline-block;
    padding: 12px 20px;
    background-color: #303030;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    transition: background-color 0.3s;
}

.btn__gray:hover {
    background-color: #EB1C24;
}

.btn__light__gray {
    display: inline-block;
    padding: 12px 20px;
    background-color: rgba(248, 248, 248, 0.4);
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    transition: background-color 0.3s ease-in;
}

.btn__light__gray:hover {
    background-color: rgba(248, 248, 248, 0.7);
}


.buy__auto {
    align-items: center;
    display: flex;
    justify-content: space-between; /* Разместить элементы по краям */
   
}

.buy__auto span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
}

.container__china__korea {
    display: flex;
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
    flex-direction: column;
}

.car__items__japan {
    display: flex;
    flex-direction: row;
}

.car__items__japan .car__title {
    font-size: 26px;
    margin-bottom: 14px;
}

.car__subtitle {
    font-size: 13px;
    /* margin-bottom: 10px; */
}


.car__items__korea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}


.cars__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.cars__from__asia {
    position: relative;
    width: 49.6%;
    height: auto;
    background-size: cover;
    background-position: center;
    padding: 8px;
    color: #fff;
    border-radius: 16px;
    background-size: 100% 100%;
}

.cars__asia {
    width: 45%;
    word-wrap: break-word;
    margin: 30px;
}

.cars__asia h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cars__asia p {
    font-size: 13px;
    margin-bottom: 40px;
    width: 80%;
}

.container__about__us {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
    flex-direction: column;
}

.about__us {
    background-size: cover;
    padding-left: 30px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 12px;
    /* justify-content: space-between; */
}

.about__us p{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    width: 15%;
    margin-left: 19%;
}

.content {
    width: 60%;
    color: #fff;
    padding: 50px;
}

.content h2 {
    font-size: 24px;
    font-weight: 700;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    width: 88%;
    margin-top: -20px;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0px 4px 24px 0px #0000001F;
    justify-content: center;
    flex-direction: row;
}

.advantages__item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: calc(14.3% - 3px);
    margin-bottom: 30px;
    margin-top: 5px;
}

.advantages__item img {
    width: 20%;
}

.advantages__item p {
    font-size: 11px;
    text-align: center;
    width: 90%;
}

.reviews__slider {
    flex-shrink: 0; 
    position: relative;
    height: 400px;
    overflow: hidden;
}

.reviews {
 margin-top: 40px;
}

.reviews__header {
    display: flex;
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    gap: 10px;
    margin-bottom: 20px;
}

.reviews__title {
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

.reviews__count {
    color: #757575;
    font-weight: 400;
}

.reviews__total {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stars__container {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.star {
    width: 15%;
}

/*SLIDER*/

.slider__item {
    flex-shrink: 0;
    object-fit: cover;
    transition: 0.2s ease-in;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.mini__item {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    background-color: #F8F8F8;
    padding: 10px; 
    box-sizing: border-box;
    gap: 10px;
}

.face {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    /* position: relative; */
}

.review__comment {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    box-sizing: border-box;
    gap: 5px;
}
.review__comment h3{
    font-size: 12px;
    font-weight: 700;
}

.review__comment p {
    font-size: 12px;
    font-weight: 400;
}

.date__comment {
    color: #757575;
}

.review__comment .stars__container {
    width: 15%;
}

.slider__btn {
    position: absolute;
    z-index: 9;
    margin-top: -12%;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 24px 0px #0000001F;
}

.slider__btn--prev {
    left: 20px;
    padding-right: 5px;
}

.slider__btn--next {
    right: 20px;
    padding-left: 5px;
}

.contact__row {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
}

.contact__block {
    margin-bottom: 30px;
}
.contact__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: flex-start;
    position: relative;
    background-color: #191919;
    border-radius: 40px;
    width: 100%;
    border: none;
}

.contact__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding-left: 50px;  
    padding-top: 40px;
    padding-bottom: 80px;
    z-index: 1;
    width: 100%; 
    transform: scaleY(0.95); 
    display: inline-block; 
}

.contact_connect {
    margin-right: 50px; 
}

.contact__title {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.contact__info {
    margin-top: 20px;
    margin-bottom: 26px;
    font-size: 13px;
    color: white;
    opacity: 50%;
}

.contact__frame {
    display: flex;
    align-items: flex-start; 
    color: white;
    position: relative;
    padding-left: 50px;
}

.contact_connect_title {
    margin-bottom: 5px;
    font-size: 13px;
    opacity: 50%;
}

.contact_connect_value {
    margin-bottom: 20px;
    font-size: 15px;
}

.contact_map {
    display: flex;
    flex-direction: column;
}

.map_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.contact_connect_contact_map_title {
    color: white;
    margin-left: 10px;
    transition: color 0.3s;
}

.contact_connect_contact_map_title:hover{
    color: #EB1C24;
}

.contact__request {
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 20px 20px 0 0;
    width: 38%;
    margin-right: 50px;
    margin-top: auto;
    border-bottom: 1px solid #f0f0f0;
}

.form-title {
    display: flex;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 34px;
}

.phone__title {
    display: flex;
    flex-direction: row;
}

.necessary {
    font-size: 12px;
    opacity: 0.5; 
    margin-left: 3px;
} 

.request__form {
    margin-left: 30px;
    margin-right: 30px;
}

.name__phone {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 12px;
}

.form-group input[type="text"],
.form-group textarea {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    height: 40px;
}

.form-group.full-width {
    width: 100%;
}

.form-group.full-width textarea {
    resize: none;
    height: 80px;
}

.request__send {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 0 0 60%;
}

.checkbox-group a:hover{
    text-decoration: underline;
}

.submit-group {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    flex: 0 0 40%; 
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 26px;
    height: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box; 
}

.custom-checkbox::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}


.custom-checkbox:checked::before {
    opacity: 1;
}


.custom-checkbox:checked {
    background-color: #28a745;
    border-color: #28a745;
}

.submit-group button {
    background-color: #f8f8f8;
    color: #757575;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    height: 70px;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; 
    text-align: center;
}

.submit-group button:hover {
    background-color: #e0e0e0; 
    color: #333; 
    transform: scale(1.02); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.submit-group button:active {
    background-color: #d0d0d0; 
    color: #333; 
    transform: scale(0.98); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


/*FOOTER*/
.footer {
    display: flex;
    align-items: center; 
    background-color: #191919;
}

.container__footer {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
    margin-top: 30px;
}

.link__row {
    display: flex;
    color: #757575;
    margin-bottom: 30px;
}

.link__row img {
    width: 7%; 
    max-width: 111px; 
}

.link__row .list {
    width: 46%; 
    color: #f3f3f3;
    font-size: 11px;
    margin-left: 4%;
    align-items: center;
}

.page__link {
    margin-top: 10px;
    margin-bottom: 10px; 
    transition: color 0.2 ease-in-out;
    cursor: pointer;
}

.page__link:hover {
    color: #EB1C24;
}

.car-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.from__japan{
    width: 30%; 
}

.from__china{
    width: 25%; 
}

.from__korea{
    width: 17%; 
}

.car-group .title {
    color: #f3f3f3;
}

.cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    font-size: 11px;
    gap: 3px;
}

.car {
    display: flex;
    margin-right: 11px;
    margin-bottom: 6px; 
    transition: color 0.2s ease-in-out;
    cursor: pointer;
} 

.car:hover {
    color: #EB1C24;
}

.title {
    font-size: 13px;
}

.confidentional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: #3B3B3B 1px solid;
    margin-bottom: 20px;
}

.rights {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 10px;
    gap: 10px;
}

.rights h4 {
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 400;
}

.rights p {
    color:  #757575;
    font-size: 14px;
    font-weight: 400;
}

.number__footer {
    color: #F3F3F3;
    font-weight: 700;
    font-size: 18px;
}


/*BURGER ICON*/
.menu-icon-wrapper {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
    
.menu-icon {
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #fff;
    border-radius: 30px;
}
    
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    border-radius: 30px;
}
    
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    border-radius: 30px;
}
    
.menu-icon.menu-icon-active {
    background-color: transparent;
}
    
.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


    
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*Scroll*/
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    background-color: rgb(64, 105, 96);
    border-radius: 5px;
    color: white;
    
}
