/*сброс всех стилей*/
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*для ссылок*/

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/*для основы*/

aside, nav, footer, header, section, main {
	display: block;
}

main {
    margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/*для формы*/

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/*основные переменные*/
:root {
    --container-width: 1680px;
    --container-padding: 120px;
    --secondary: rgba(15, 31, 28, 0.5);
}
  
/*основа*/
body {
    font-family: inter;
    background-color: #FFFFFF;
    color: #191919;
}


/*скрытие элементов*/
.none {
    display: none !important;
}

/*подключение шрифтов*/  
@font-face {
    font-family: inter;
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*HEADER*/
.header {
    overflow: hidden;
    position: relative;
    min-height: 700px;
    padding-top: 20px;
    color: #191919;
    width: 100%;
}


.header a {
    color: #191919;
}

.header__top {
    height: 94px;
    column-gap: 286px;
}

.header__row {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
}

.header__main {
    display: flex;
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: center;
    position: relative;
    background-color: #191919;
    border-radius: 40px;
    width: 100%;
}

.header__content {
    display: flex;
    flex-direction: column; /* Разместить элементы вертикально */
    justify-content: center; /* Центрировать по вертикали */
    padding-left: 80px;  
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 1;
    width: 42%; 
    transform: scaleY(0.95); /* Уменьшает высоту текста на 20% */
    display: inline-block; /* Обязательно для работы transform */
}

.header__image {
    position: absolute; 
    bottom: 230px; /* Поднимаем элемент выше, увеличив значение bottom */
    right: 0;
    width: 100%;
    height: 30%;
    z-index: 1;
}

.header__image img {
    /* height: auto; */
    width: 55%; 
    float: right;
}

.header__cars {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header__cars img {
    position: absolute; /* Абсолютное позиционирование для наложения */
    max-width: 39%; /* Ограничьте ширину изображений контейнером */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

.car-1 {
    top: 140px;
    right: 350px;
    z-index: 2;
}

.car-2 {
    top: 80px;
    right: 103px;
    z-index: 3;
}

.car-3 {
    top: 110px;
    right: -100px;
    z-index: 2;
}

/*HEADER CONTENT*/
.header__title {
    margin-bottom: 30px;
    font-size: 45px;
    z-index: 3;
    font-weight: 900;
    color: #F3F3F3;
    /* line-height: 62px; */
}

.header__text {
    margin-bottom: 50px;
    font-size: 20px;
    z-index: 3;
    color: #F3F3F3;
    opacity: 50%;
    line-height: 30px;
}

/*NAV*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
}

.nav__list {
    display: flex;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 400;
    min-width: 528px;
}

.nav__list a {
    position: relative;
    text-decoration: none; 
}

.nav__list a:hover {
    color: #EB1C24;
}

.nav__item--dropdown {
    position: relative;
}

.nav__item--dropdown .arrow {
    display: none; 
    margin-left: 5px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.nav__item--dropdown:hover .arrow {
    display: inline;
}

.nav__submenu {
    display: none;
    list-style: none;
    padding: 16px 24px 16px 24px;
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px #0000001F;
    min-width: 126px;
    min-height: 113px;
    font-weight: 400;
    font-size: 16px;
}

.nav__submenu a {
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
    color: black; 
}

.nav__item--dropdown:hover .nav__submenu {
    display: block; /* Показываем подменю при наведении */
}


.nav__connection {
    display: flex;
    align-items: center;
    column-gap: 16px;
    min-width: 284px;
}

.nav__connection img {
    transition: filter 0.3s ease;
}

.nav__connection a:hover img {
    filter: brightness(75%);
}


.nav__toggle {
    display: none;
}

.phone-info {
    row-gap: 4px;
    margin-left: 33px;
    display: flex;
    min-width: 180px;
    flex-direction: column;
    align-items: flex-start;
}

.phone-number {
    font-weight: 700;
    font-size: 18px;
    color: #191919;
}

.phone-desc {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/*BUTTON*/
.btn__dark__red {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: #D90008;
    border-radius: 16px;
    padding: 24px 32px; 
    width: 230px;
    height: 60px;
    display: flex;          /* Используем flexbox для центрирования */
    align-items: center;    /* Центрирование по вертикали */
    justify-content: center;/* Центрирование по горизонтали */
    text-align: center;     /* Убедиться, что текст выровнен по центру */
}


.japan__items {
    margin-bottom: 16px;
    width: 100%;
}

.japan__title {
    font-size: 32px;
    font-weight: 900;
}

.japan__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    width: 100%;
    flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
}

.japan__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin: 0;
    overflow: hidden; /* Предотвращает переполнение текста */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст не помещается */
    white-space: nowrap; /* Оставляем текст в одной строке */
    flex-shrink: 1; /* Позволяем тексту сжиматься, чтобы освободить место для кнопки */
}

.view__all {
    font-size: 18px; 
    text-decoration: none;
    font-weight: 400;
    white-space: nowrap;
    color: #191919;
    margin-left: 16px; /* Добавляем отступ слева для кнопки */
}


.car__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 элемента в ряду */
    gap: 16px; 
    width: 1680px;
}

.car__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #F8F8F8;
    border-radius: 20px;
    width: 411px;
    height: 477px;
}

.car__item img {
    width: 371px;
    height: 300px;
    margin-bottom: 8px;
    border-radius: 16px;
}

.car__item p {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 8px 0;
}

.car__item span {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 12px;
}

.btn__gray {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d1d1d1;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.btn__gray:hover {
    background-color: #c1c1c1;
}




/*AESTHETICS*/
.aesthetics {
    padding: 100px 0 100px;
    overflow-x: hidden;
}

.aesthetics__row {
    display: flex;
    column-gap: 50px;
}

.aesthetics__slider {
    width: 800px;
    flex-shrink: 0; /*теперь не сжимается*/
}

.aesthetics__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}

.aesthetics__title span {
    font-size: 30px;
}

.aesthetics__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}

/*SLIDER*/

.slider {
    position: relative;
    height: 420px;
}

.slider__item {
    margin-top: 30px;
    width: 300px;
    height: 370px;
    object-fit: cover; /*для устранения проблем с масштабированием*/
    border-radius: 35px;
    transition: 0.2s ease-in;
}

.slider .center .slider__item {
    margin-top: 0;
    width: 370px;
    height: 420px;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: rgb(0, 43, 35);
}

.slider__btn--prev {
    left: -27px;
    padding-right: 5px;
}

.slider__btn--next {
    right: -27px;
    padding-left: 5px;
}

/*STUDENTS*/
.student {
    padding: 130px 0 133px;
}

.student__row {
    display: flex;
    column-gap: 68px;
}

.student__image {
    max-width: 564px;
    nax-height: 564px;
}

.student__image img {
    border-radius: 60px;
} 

/* .student__content {

} */

.student_title {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
}


/*REVIEW*/
.review {
    margin-bottom: 60px;
    max-width: 600px;
}

.review__student {
    display: flex;
    column-gap: 33px;
}

.review__student-avatar {
    overflow: hidden;
    max-width: 80px;
    max-height: 80px;
}

.review__student-avatar  img{
    border-radius: 50%;
}

.review__student-describe {
    margin-bottom: 40px;
}

.review__student-describe-name {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

.review__student-describe-loc {
    font-size: 15px;
    color: var(--secondary);
}

.review__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500px;
}

/*CALL TO ACTION*/
.cta {
    padding: 80px 0;
}

.cta__image {
    padding-bottom: 30px;
}

.cta__image img {
    max-width: 300px;
    max-height: 300px;
}

.cta__plate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 60px;
    min-height: 580px;
    padding: 40px 15px;
}

.cta__title {
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 500;
}

.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--secondary);
}

/*SUBSCRIBE*/
.subscribe {
    padding: 35px 0 50px;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 60px;
    min-height: 300px;
    padding: 35px 0 50px;
}

.subscribe__title {
    margin-bottom: 60px;
    max-width: 700px;
    font-size: 55px;
    font-weight: 600;
}

.subscribe__content .btn {
    margin-bottom: 50px;
}

/*SUBSCRIBE FORM*/
.subscribe-form {
    margin-bottom: 20px;
    padding: 12px 15px 12px 46px;
    border-radius: 20px;
    background-color: rgb(200, 209, 209);
    display: flex;
    column-gap: 20px;
}

.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    color: var(--secondary);
}

.contact__row {
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
}

.contact__block {
    margin-bottom: 30px;
}
.contact__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Разместить элементы по краям */
    align-items: flex-start;
    position: relative;
    background-color: #191919;
    border-radius: 40px;
    width: 100%;
    border: none;
}

.contact__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding-left: 50px;  
    padding-top: 40px;
    padding-bottom: 80px;
    z-index: 1;
    width: 100%; 
    transform: scaleY(0.95); 
    display: inline-block; 
}

.contact_connect {
    margin-right: 50px; 
}

.contact__title {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.contact__info {
    margin-top: 20px;
    margin-bottom: 26px;
    font-size: 13px;
    color: white;
    opacity: 50%;
}

.contact__frame {
    display: flex;
    align-items: flex-start; 
    color: white;
    position: relative;
    padding-left: 50px;
}

.contact_connect_title {
    margin-bottom: 5px;
    font-size: 13px;
    opacity: 50%;
}

.contact_connect_value {
    margin-bottom: 20px;
    font-size: 15px;
}

.contact_map {
    display: flex;
    flex-direction: column;
}

.map_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.contact_connect_contact_map_title {
    color: white;
    margin-left: 10px;
    transition: color 0.3s;
}

.contact_connect_contact_map_title:hover{
    color: #EB1C24;
}

.contact__request {
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 20px 20px 0 0;
    width: 38%;
    margin-right: 50px;
    margin-top: auto;
    border-bottom: 1px solid #f0f0f0;
}

.form-title {
    display: flex;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 34px;
}

.phone__title {
    display: flex;
    flex-direction: row;
}

.necessary {
    font-size: 12px;
    opacity: 0.5; 
    margin-left: 3px;
} 

.request__form {
    margin-left: 30px;
    margin-right: 30px;
}

.name__phone {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 12px;
}

.form-group input[type="text"],
.form-group textarea {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    height: 40px;
}

.form-group.full-width {
    width: 100%;
}

.form-group.full-width textarea {
    resize: none;
    height: 80px;
}

.request__send {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 0 0 65%;
}

.checkbox-group a:hover{
    text-decoration: underline;
}

.submit-group {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    flex: 0 0 35%; /* Take up 35% of the available space */
}

/* Hide the default checkbox */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 26px;
    height: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box; /* Ensures the border is included in the width and height */
}

/* Add a custom checkmark */
.custom-checkbox::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Show checkmark when checked */
.custom-checkbox:checked::before {
    opacity: 1;
}

/* Change the background color when checked */
.custom-checkbox:checked {
    background-color: #28a745;
    border-color: #28a745;
}

.submit-group button {
    background-color: #f8f8f8;
    color: #757575;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    height: 70px;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; /* Makes the button take the full width of the .submit-group */
    text-align: center;
}

.submit-group button:hover {
    background-color: #e0e0e0; /* Slightly darker background color on hover */
    color: #333; /* Darker text color on hover for better contrast */
    transform: scale(1.02); /* Slightly increase the size on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.submit-group button:active {
    background-color: #d0d0d0; /* Even darker background color when clicked */
    color: #333; /* Keep the text color consistent with hover */
    transform: scale(0.98); /* Slightly reduce size on click */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Restore shadow */
}








/*FOOTER*/
.footer {
    display: flex;
    align-items: center; 
    background-color: #191919;
}

.container__footer {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
    padding: 0 6%;
    width: 100%;
    position: relative; 
    margin-top: 30px;
}

.link__row {
    display: flex;
    color: #757575;
    margin-bottom: 30px;
}

.link__row img {
    width: 7%; 
    max-width: 111px; 
}

.link__row .list {
    width: 46%; 
    color: #f3f3f3;
    font-size: 11px;
    margin-left: 4%;
    align-items: center;
}

.page__link {
    margin-top: 10px;
    margin-bottom: 10px; 
}

.car-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.from__japan{
    width: 30%; 
}

.from__china{
    width: 25%; 
}

.from__korea{
    width: 17%; 
}

.car-group .title {
    color: #f3f3f3;
}

.cars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    font-size: 11px;
    gap: 3px;
}

.car {
    display: flex;
    margin-right: 11px;
    margin-bottom: 6px; 
} 

.title {
    font-size: 13px;
}

.confidentional {
    display: flex;
    flex-direction: row;
    border-top: #3B3B3B 1px solid;
    margin-bottom: 20px;
}

.confidentional .rights {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 10px;
    gap: 10px;
}

.confidentional .rights .title {
    color: #f3f3f3;
    font-size: 11px;
}

.confidentional .rights .info {
    color: #757575;
    font-size: 11px;
}

.confidentional .social {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}


/*BURGER ICON*/
.menu-icon-wrapper {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
    
.menu-icon {
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #fff;
    border-radius: 30px;
}
    
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    border-radius: 30px;
}
    
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    border-radius: 30px;
}
    
.menu-icon.menu-icon-active {
    background-color: transparent;
}
    
.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
    
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/*Scroll*/
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    background-color: rgb(64, 105, 96);
    border-radius: 5px;
    color: white;
    
}
